<div class="rounded-lg border bg-card text-card-foreground shadow-sm w-full max-w-md mx-auto mb-4" data-v0-t="card">
    <div class="flex flex-col space-y-1.5 p-6">
        {% if post.message == None %}
            {% set my_string = '\n' %}
        {% else %}
            {% set my_string = post.message + '\n' %}
        {% endif %}
        {% set parts = my_string.split('\n', 1) %}
        {% set first_part = parts[0] %}
        {% set second_part = parts[1] %}
        <h3 class="text-2xl font-semibold leading-none tracking-tight">消息: {{ first_part }}</h3>
    </div>
    <div class="p-6 pt-0">
        <p class="text-muted-foreground">
            时间：{{ post.timestamp }}

            {% if post.event %}
                <br>
                事件：{{ post.event }}
            {% endif %}

            {% if post.result %}
                <br>
                结果：{{ post.result }}
            {% endif %}

            {% if second_part != '' %}
                <br>
                其他：
        </p>
        <div class="container_error">
            <textarea>{{ second_part }}</textarea>
        </div>
            {% endif %}

        {% if post.screenshot or post.screenshot_path %}
            <div class="mt-4">
                <img alt="picture" loading="lazy" width="400" height="200" decoding="async"
                     data-nimg="1" class="rounded-md object-cover w-full"
                     src="/image/{{ post.id }}" style="color: transparent;">
            </div>
        {% endif %}
    </div>
</div>
